.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.title {
  margin: 0;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 6px;
  outline: 1px solid #fff;
  border-radius: 6px;
  padding: 12px;
}